<app-header></app-header>
<div class="px-8 2xl:px-24 xl:px-16 lg:px-16 md:px-12 sm:px-11 pt-4">
  <div class="row">
    <div class="col-lg-5 col-xl-5">
      <section id="detail">
       <div class="px-2">
         <div class="product-images demo-gallery">
           <!-- Begin Product Images Slider -->
           <ngx-slick-carousel class="carousel main-img-slider"
                               #slickModal="slick-carousel"
                               [config]="mainSlickConfig">
             <div ngxSlickItem *ngFor="let img of products">
               <a data-fancybox="gallery" href="{{img.img}}">
                 <img class="w-100 object-fit-cover" [src]="img.img" alt="">
               </a>
             </div>
           </ngx-slick-carousel>
           <!-- End Product Images Slider -->
           <div>
             <!-- Begin product thumb nav -->
             <ngx-slick-carousel class="carousel thumb-nav"
                                 #slickModal="slick-carousel"
                                 [config]="bottomSlick">

               <div ngxSlickItem *ngFor="let img of products">
                 <img class="w-100 my-1" alt="dummy image" [src]="img.img">
               </div>
             </ngx-slick-carousel>
           </div>

           <!-- End product thumb nav -->
         </div>
       </div>
      </section>
    </div>
    <div class="col-lg-7 col-xl-7">
      <div class="d-flex justify-content-between mb-4 pb-md-2">
        <div class="breadcrumb mb-0 d-none d-md-block flex-grow-1">
          <a href="#" class="menu-link menu-link_us-s text-uppercase fw-medium">Home</a>
          <span class="breadcrumb-separator menu-link fw-medium ps-1 pe-1">/</span>
          <a href="#" class="menu-link menu-link_us-s text-uppercase fw-medium">The Shop</a>
        </div><!-- /.breadcrumb -->

      </div>
      <div class="d-flex gap-2 flex-column">
        <h1 class="product-single__name">Lightweight Puffer Jacket With a Hood</h1>
        <div class="product-card__review d-sm-flex align-items-center">
          <div class="reviews-group d-flex">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <span class="reviews-note text-lowercase text-secondary fs-13 ms-sm-1">8k+ reviews</span>
        </div>
        <div class="product-single__price">
          <span class="current-price"><h4 class="text-2xl">$449</h4></span>
        </div>
      </div>
      <div class="my-4 product-single__short-desc">
        <p class="text-gray-500 text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem harum ratione similique sit voluptates! Animi at dolore doloribus earum eius enim eum itaque laboriosam minima quod, reiciendis sed similique veritatis.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium ad alias architecto assumenda atque aut consequuntur delectus ducimus ea fuga nulla officia quas quasi, ratione rerum suscipit tempora, temporibus voluptas!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias, dignissimos eos, est fugiat itaque laboriosam laborum quod repudiandae sint soluta ut vel? Architecto, commodi earum ipsa labore ratione repellendus ut!
        </p>
      </div>
      <div class="mb-12 product-single__swatches">
        <div class="product-swatch text-swatches">
          <label>Quanity</label>
          <div class="swatch-list">
            <input type="radio" name="size" id="swatch-1">
            <label class="swatch js-swatch" for="swatch-1" aria-label="Extra Small" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Extra Small">
              250 Ml
            </label>
            <input type="radio" name="size" id="swatch-2" checked="">
            <label class="swatch js-swatch" for="swatch-2" aria-label="Small" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Small">
              500 Ml
            </label>
            <input type="radio" name="size" id="swatch-3">
            <label class="swatch js-swatch" for="swatch-3" aria-label="Middle" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Middle">
              1 Litre
            </label>
            <input type="radio" name="size" id="swatch-4">
            <label class="swatch js-swatch" for="swatch-4" aria-label="Large" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Large">
              10 Litre
            </label>
          </div>
          <!--          <a href="#" class="sizeguide-link" data-bs-toggle="modal" data-bs-target="#sizeGuide">Size Guide</a>-->
        </div>
      </div>
      <div class="my-4 d-flex gap-3 align-items-center">
        <div class="position-relative d-flex border-2 align-items-center">
          <i class="cursor-pointer text-xs text-gray-500 p-3 fa fa-minus"></i>
          <input value="1" style="height: 38px; width: 80px; padding: 0 0 0 15px" type="number"
                 class="text-center text-gray-800 text-base bg-transparent">
          <i class="cursor-pointer text-xs text-gray-500 p-3 fa fa-plus"></i>
        </div>
        <div>
          <button (click)="toggleCart()" class="btn btn-primary px-4 theme-btn">Add to Cart</button>
        </div>
      </div>
      <div class="my-3">
<!--        <table class="table">-->
<!--          <tbody>-->
<!--          <tr>-->
<!--            <th scope="row" class="col-4">Flash Point</th>-->
<!--            <td class="col-8">> 61°C</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th scope="row" class="col-4">Odour</th>-->
<!--            <td class="col-8">Characteristic</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th scope="row" class="col-4">Content</th>-->
<!--            <td class="col-8">150 ml</td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <th scope="row" class="col-4">Languages</th>-->
<!--            <td class="col-8">EN, DE, FR, ES, NL, IT, PT, GR, SE, PL, RO, CZ,-->
<!--              TR, RU, AR, ZH-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--        <ul class="border-none nav nav-tabs" id="myTab" role="tablist">-->
<!--          <li class="nav-item" role="presentation">-->
<!--            <a class="nav-link nav-link_underscore active text-sm uppercase"-->
<!--               id="tab-benefits-tab" data-bs-toggle="tab" href="#tab-benefit" role="tab"-->
<!--               aria-controls="tab-benefit" aria-selected="true">Benefits</a>-->
<!--          </li>-->
<!--          <li class="nav-item" role="presentation">-->
<!--            <a class="nav-link nav-link_underscore  text-sm uppercase" id="tab-usage-tab"-->
<!--               data-bs-toggle="tab" href="#tab-usage" role="tab"-->
<!--               aria-controls="tab-usage" aria-selected="false">Usage</a>-->
<!--          </li>-->
<!--          <li class="nav-item" role="presentation">-->
<!--            <a class="nav-link nav-link_underscore  text-sm uppercase" id="tab-direction-tab" data-bs-toggle="tab"-->
<!--               href="#tab-reviews"-->
<!--               role="tab" aria-controls="tab-reviews" aria-selected="false">Direction</a>-->
<!--          </li>-->
<!--          <li class="nav-item" role="presentation">-->
<!--            <a class="nav-link nav-link_underscore  text-sm uppercase" id="tab-dosage-tab" data-bs-toggle="tab"-->
<!--               href="#tab-dosage"-->
<!--               role="tab" aria-controls="tab-reviews" aria-selected="false">Dosage</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--        <div class="tab-content d-flex justify-content-center w-100">-->
<!--          <div class="tab-content-container w-75 xl:mt-12 lg:mt-12 md:mt-10 mt-8">-->
<!--            <div class="tab-pane fade show active px-2" id="tab-benefit" role="tabpanel" aria-labelledby="tab-benefits-tab">-->
<!--              <ul class="list-disc">-->
<!--                <li class="text-base mb-3">Cleans injectors, valves, combustion chamber and the complete diesel supply-->
<!--                  system-->
<!--                </li>-->
<!--                <li class="text-base mb-3">Removes carbon deposits from injectors and restores optimal spray pattern</li>-->
<!--                <li class="text-base mb-3">Restores power and performance and reduces fuel consumption</li>-->
<!--                <li class="text-base mb-3">Restores power and performance and reduces fuel consumption</li>-->
<!--                <li class="text-base mb-3">Lubricates the fuel pump and reduces corrosion and wear</li>-->
<!--                <li class="text-base mb-3">Cleans injectors, valves, combustion chamber and the complete diesel supply-->
<!--                  system-->
<!--                </li>-->
<!--                <li class="text-base mb-3">Removes carbon deposits from injectors and restores optimal spray pattern</li>-->
<!--                <li class="text-base mb-3">Restores power and performance and reduces fuel consumption</li>-->
<!--                <li class="text-base mb-3">Restores power and performance and reduces fuel consumption</li>-->
<!--                <li class="text-base mb-3">Lubricates the fuel pump and reduces corrosion and wear</li>-->
<!--                <li class="text-base mb-3">Cleans injectors, valves, combustion chamber and the complete diesel supply-->
<!--                  system-->
<!--                </li>-->
<!--                <li class="text-base mb-3">Removes carbon deposits from injectors and restores optimal spray pattern</li>-->
<!--                <li class="text-base mb-3">Restores power and performance and reduces fuel consumption</li>-->
<!--                <li class="text-base mb-3">Restores power and performance and reduces fuel consumption</li>-->
<!--                <li class="text-base mb-3">Lubricates the fuel pump and reduces corrosion and wear</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--            <div class="tab-pane fade" id="tab-usage" role="tabpanel" aria-labelledby="tab-usage-tab">-->
<!--              <div class="text-base">For all diesel engines (incl. common rail) with or without turbochargers running on low-->
<!--                or normal sulphur level diesel fuel.-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="tab-pane fade" id="tab-reviews" role="tabpanel" aria-labelledby="tab-reviews-tab">-->
<!--              <div class="text-base">Pour the contents of one bottle in the fuel tank before filling it with diesel fuel.-->
<!--                One bottle treats 40 to 60 litres of diesel fuel.-->
<!--              </div>-->
<!--            </div>-->
<!--            <div class="tab-pane fade" id="tab-dosage" role="tabpanel" aria-labelledby="tab-reviews-tab">-->
<!--              <div class="w-100 text-base">-->
<!--                <table class="table table-borderless">-->
<!--                  <tbody>-->
<!--                  <tr>-->
<!--                    <th class="col-6 uppercase text-sm">Normal use:</th>-->
<!--                    <td>One bottle every 2000 km.</td>-->
<!--                  </tr>-->
<!--                  <tr>-->
<!--                    <th class="col-6 uppercase text-sm">Intensive or sportive use:</th>-->
<!--                    <td>One bottle for each tank filling.</td>-->
<!--                  </tr>-->
<!--                  </tbody>-->
<!--                </table>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>
  </div>
  <div class="xl:m-20 lg:m-18 md:m-16 m-12 d-flex justify-content-center flex-column align-items-center">
    <ul class="border-none nav nav-tabs" id="myTab" role="tablist">
      <li (click)="tabName = 'benefits'" class="cursor-pointer nav-item" role="presentation">
        <a class="nav-link nav-link_underscore {{tabName === 'benefits' ? 'active' : ''}} text-sm uppercase">Benefits</a>
      </li>
      <li (click)="tabName = 'usage'" class="cursor-pointer nav-item" role="presentation">
        <a class="nav-link nav-link_underscore {{tabName === 'usage' ? 'active' : ''}} text-sm uppercase">Usage</a>
      </li>
      <li (click)="tabName = 'direction'" class="cursor-pointer nav-item" role="presentation">
        <a class="nav-link nav-link_underscore {{tabName === 'direction' ? 'active' : ''}} text-sm uppercase">Direction</a>
      </li>
      <li (click)="tabName = 'dosage'" class="cursor-pointer nav-item" role="presentation">
        <a class="nav-link nav-link_underscore {{tabName === 'dosage' ? 'active' : ''}} text-sm uppercase">Dosage</a>
      </li>
    </ul>
    <div class="tab-content d-flex justify-content-center w-100">
      <div [ngSwitch]="tabName" class="tab-content-container w-75 xl:mt-12 lg:mt-12 md:mt-10 mt-8">
        <div class="animate__animated animate__fadeIn" *ngSwitchCase="'benefits'">
          <ul class="list-disc">
            <li class="text-base mb-3">Cleans injectors, valves, combustion chamber and the complete diesel supply
              system
            </li>
            <li class="text-base mb-3">Removes carbon deposits from injectors and restores optimal spray pattern</li>
            <li class="text-base mb-3">Restores power and performance and reduces fuel consumption</li>
            <li class="text-base mb-3">Restores power and performance and reduces fuel consumption</li>
            <li class="text-base mb-3">Lubricates the fuel pump and reduces corrosion and wear</li>
          </ul>
        </div>
        <div class="animate__animated animate__fadeIn" *ngSwitchCase="'usage'">
          <div class="text-base">For all diesel engines (incl. common rail) with or without turbochargers running on low
            or normal sulphur level diesel fuel.
          </div>
        </div>
        <div class="animate__animated animate__fadeIn" *ngSwitchCase="'direction'">
          <div class="text-base">Pour the contents of one bottle in the fuel tank before filling it with diesel fuel.
            One bottle treats 40 to 60 litres of diesel fuel.
          </div>
        </div>
        <div class="animate__animated animate__fadeIn" *ngSwitchCase="'dosage'">
          <div class="w-100 text-base">
            <table border="1" style="border-collapse:collapse;" class="table table-borderless">
              <tbody>
              <tr>
                <th class="border-1 bg-transparent col-6 uppercase text-sm">Normal use:</th>
                <td class="border-1 bg-transparent">One bottle every 2000 km.</td>
              </tr>
              <tr>
                <th class="border-1 bg-transparent col-6 uppercase text-sm">Intensive or sportive use:</th>
                <td class="border-1 bg-transparent">One bottle for each tank filling.</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-xl-5 px-md-3 px-lg-5 px-xs-2 pt-2 mb-16">
    <h2 class="h3 text-uppercase mb-4 pb-xl-2 mb-xl-4">Related <strong>Products</strong></h2>
    <div class="my-2">
      <ngx-slick-carousel class="carousel position-relative"
                          #slickModal="slick-carousel"
                          [config]="testimonialConfig">
        <div ngxSlickItem *ngFor="let product of products" class="position-relative slide">
          <div [routerLink]="['/shop-details']"
               class="cursor-pointer shadow-sm h-100 product-card border product-card_style9 mx-2 p-3 px-4 rounded-3 bg-white">
            <div class="position-relative pb-4 p-2">
              <div class="">
                <img class="w-100 object-fit-cover" loading="lazy" [src]="product.img" width="255" height="200"
                     alt="Cropped Faux leather Jacket">
              </div>
              <div class="anim_appear-bottom position-absolute w-100 text-center">
                <!--                <button-->
                <!--                  class="rounded-full d-flex align-items-center justify-content-center btn btn-round btn-hover-red border-0 text-uppercase me-2 js-add-cart js-open-aside d-inline-flex align-items-center justify-content-center"-->
                <!--                  data-aside="cartDrawer" title="Add To Cart">-->
                <!--                  <i class="fa fa-shopping-cart"></i>-->
                <!--                  &lt;!&ndash;                  <img style="width: 16px" src="assets/icons/shopping-cart.png" alt="">&ndash;&gt;-->
                <!--                </button>-->
                <!--                <button-->
                <!--                  class="rounded-full d-flex align-items-center justify-content-center btn btn-round btn-hover-red border-0 text-uppercase me-2 js-quick-view d-inline-flex align-items-center justify-content-center"-->
                <!--                  data-bs-toggle="modal" data-bs-target="#quickView" title="Quick view">-->
                <!--                  <i class="fa fa-eye"></i>-->
                <!--                  &lt;!&ndash;                  <img style="width: 16px" src="assets/icons/view.png" alt="">&ndash;&gt;-->
                <!--                </button>-->
                <!--                <button-->
                <!--                  class="rounded-full d-flex align-items-center justify-content-center btn btn-round btn-hover-red border-0 text-uppercase js-add-wishlist d-inline-flex align-items-center justify-content-center"-->
                <!--                  title="Add To Wishlist">-->
                <!--                  <i class="fa fa-heart"></i>-->
                <!--                  &lt;!&ndash;                  <img style="width: 16px" src="assets/icons/heart.png" alt="">&ndash;&gt;-->
                <!--                </button>-->
                <button class="white-btn btn btn-theme-2" (click)="toggleCart()"> Add to Cart</button>
              </div>
            </div>
            <div class="pc__info position-relative">
              <p class="pc__category text-sm fs-13 fw-medium">{{product?.cat}}</p>
              <h6 class="pc__title fs-16 mb-2"><a href="./product1_simple.html">{{product?.name}}</a></h6>
              <div class="product-card__review d-sm-flex align-items-center">
                <div class="reviews-group d-flex">
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                  <i class="fa fa-star"></i>
                </div>
                <span class="reviews-note text-lowercase text-secondary fs-13 ms-sm-1">{{product?.ratings}}</span>
              </div>
              <div class="my-2 text-gray-500">
                Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything!
                Can’t quite.
              </div>
              <div class="d-flex mt-4 gap-1 align-items-center">
                <span class="product-card__price price fs-16 fw-semi-bold">{{product?.price}}</span> <span
                class="text-gray-400">/ 400 ml</span>
              </div>
            </div>
          </div>
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
</div>
