/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

:root {
  --blue-color: #084DE5;
  --red-color: #FD191A;
  --faint-red: #e37474;
  --faint-pink: #F7E2E2;
}

//
//.ngx-pagination .current {
//  background: var(--faint-red) !important;
//}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  color: #222 !important;
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  background: #fff;
}

p, div, span, h2, h1, h3, h4, h5 {
  font-family: "Jost", sans-serif !important;
}

.navigation__link {
  display: inline-block;
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #222222;
  font-weight: 500;
  line-height: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}

.navigation__link:after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0.7rem;
  width: 0;
  height: 2px;
  transition: width 0.28s cubic-bezier(0.47, 0, 0.745, 0.715);
  background-color: currentColor;
}

.navigation__link:hover:after {
  width: 2em;
}

.nav-item.active {
  .navigation__link:after {
    width: 2em;
  }
}

.theme-btn {
  background: #084DE5 !important;
  color: #fff !important;
  padding: 10px 15px;
}

.faint-pink {
  background: var(--faint-pink);
}

.btn-theme-2 {
  background: #e4e4e4 !important;
  color: #333 !important;
  padding: 10px 15px;
}

h2 {
  font-size: 1.25rem !important;
}

h1 {
  font-size: 2rem !important;
  line-height: 1.3 !important;
  margin: 0 !important;
}

h4 {
  margin: 0 !important;
}

.nav-link_underscore {
  position: relative;
  padding: 0.6875rem 1.5625rem 0.4375rem;
  color: #767676;
}

.nav-link_underscore:after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 1.5625rem;
  width: 0;
  height: 2px;
  background-color: #222222;
  transition: width 0.36s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@media (prefers-reduced-motion: reduce) {
  .nav-link_underscore:after {
    transition: none;
  }
}

.nav-link_underscore.theme-color:after {
  background-color: #0F2041;
}

.nav-link_underscore:hover, .nav-link_underscore:focus, .nav-link_underscore.active, .nav-item.show .nav-link_underscore {
  color: #222222;
}

.nav-link_underscore:hover:after, .nav-link_underscore:focus:after, .nav-link_underscore.active:after, .nav-item.show .nav-link_underscore:after {
  width: calc(100% - 3.125rem);
}

.nav-link_underscore.underscore-sm:hover:after, .nav-link_underscore.underscore-sm:focus:after, .nav-link_underscore.underscore-sm.active:after, .nav-item.show .nav-link_underscore.underscore-sm:after {
  width: 2rem;
}

.nav-link_underscore.underscore-md:hover:after, .nav-link_underscore.underscore-md:focus:after, .nav-link_underscore.underscore-md.active:after, .nav-item.show .nav-link_underscore.underscore-md:after {
  width: calc((100% - 1.5625rem * 2) * 0.7);
}

.nav-link_underscore.disabled {
  color: #6c757d;
  background-color: transparent;
  border-color: transparent;
}

.nav-link {
  &.active {
    border: none;
    background: transparent !important;
  }

  &:hover {
    border: none;
  }
}

.reviews-group {
  gap: 0.1rem;

  i {
    font-size: 9px;
    color: #ffc78b;
  }
}


.tab-content-container > .active {
  display: flex;
}


.pc__title {
  font-size: 1rem !important;
  white-space: initial;
  overflow: initial;
  text-overflow: initial;
  line-height: 1.5;
}

.pc__category {
  margin-bottom: .25rem !important;
  color: #767676;
  font-weight: 400;
  line-height: 1.7143;
  font-size: 12px;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.counter-input:focus-visible {
  outline: none !important;
  border: none !important;
}

.text-xxs {
  font-size: 8px !important;
}

.mat-drawer:not(.mat-drawer-side) {
  position: fixed;
}

.mat-drawer-backdrop {
  position: fixed !important;
}

.mat-drawer-inner-container {
  overflow: hidden !important;
}

.smooth-16 {
  text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0 var(--stroke-color), calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0 var(--stroke-color), calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0 var(--stroke-color), calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0 var(--stroke-color), calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0 var(--stroke-color), calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0 var(--stroke-color), calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0 var(--stroke-color), calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0 var(--stroke-color), calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0 var(--stroke-color), calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0 var(--stroke-color);
}

.about-list .list-wrap {
  margin-bottom: 50px
}

.about-list .list-wrap li {
  display: flex;
  align-items: baseline;
  font-family: var(--tg-heading-font-family);
  color: var(--tg-heading-font-color);
  font-size: 18px;
  margin-bottom: 10px
}

.about-list .list-wrap li:last-child {
  margin-bottom: 0
}

.about-list .list-wrap li i {
  width: 24px;
  height: 24px;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #072a75;
  color: #fff;
  font-size: 12px;
  margin-right: 15px
}

//
//.tg-element-title {
//  color: var(--secondary-color) !important;
//}
md-sidenav-container > .md-sidenav-backdrop.md-sidenav-shown {
  background-color: rgba(0, 0, 0, .6)
}

.form-floating > .form-control:focus ~ label {
  color: #222222;
  transform: translateY(-1.9rem) !important;
}

.ck-editor__editable_inline:not(.ck-comment__input *) {
  height: 300px;
  overflow-y: auto;
}

.ck-editor {
  ul {
    list-style: inside !important;
    padding: 0 0 0 1rem !important;
  }

  ol {
    list-style: auto !important;
    padding: 0 0 0 2rem !important;
  }
}

/* In your global CSS file (styles.css) or a component-specific CSS file */
.fade-in {
  opacity: 1 !important;
  transition: opacity 300ms ease-in; /* Adjust the duration and easing as desired */
}

[appFadeInOnView] {
  opacity: 0; /* Initial opacity */
}

.form-floating.invalid  {
  label {
    color: #f45e5e !important; /* Set the desired color for the placeholder text */
  }
  input, textarea {
    &:focus {
      box-shadow: 0 0 0 0.25rem #f4433617 !important;
    }
    border: 2px solid red !important;
  }
}
//
//.mat-drawer-container {
//  z-index: 1999 !important;
//}

.mat-drawer-content {
  overflow-x: hidden !important;
}
