<app-header></app-header>

<div class="full-width_border border-2" style="border-color: #f5e6e0;">
  <div class="shop-banner position-relative ">
    <div class="background-img" style="background-color: #f5e6e0;">
      <img loading="lazy" src="assets/banners/oil-banner-3.png" width="1759" height="420" alt="Pattern"
           class="slideshow-bg__img object-fit-cover">
    </div>
    <div class="shop-banner__content container position-absolute start-50 top-50 translate-middle">
      <h1 class="h1 text-white text-uppercase text-center fw-bold mb-3 mb-xl-5">About Us</h1>
    </div>
  </div>
</div>

<div class="px-xl-5 px-md-3 px-lg-3 px-xs-2 pt-5" style="margin-bottom: 3rem">
  <div class="mb-16 row align-items-center">
    <div class="col-xl-6 col-lg-4 order-0">
      <div>
        <img src="/assets/team_pic.png" alt="" class="w-100 object-fit-cover rounded-lg wow fadeInRight"
             style="visibility: visible; animation-delay: 0.4s;">
      </div>
    </div>
    <div class="col-xl-6 col-lg-8 px-5">
      <div class="about-content">
        <div class="section-title tg-heading-subheading animation-style3">
          <span class="text-xl text-gray-600 sub-title tg-element-title">Ibluechem Group</span>
          <div class="text-3xl leading-normal title uppercase">WHo are we
          </div>
        </div>
        <div class="my-8 text-base d-flex align-items-center">
          <p>
            Welcome to IBluechem Group India, a distinguished privately held company headquartered in Maharashtra, India. As an organization, we operate under the leadership of a seasoned and highly skilled team of professionals. Our dedicated workforce possesses a comprehensive understanding of the current trends shaping global markets, enabling us to adeptly navigate the intricacies of the business landscape.
            <br><br>
            At IBluechem Group, our primary focus is on satisfying the diverse needs of our esteemed customers, both within the domestic market and internationally. Our team is not only experienced but also committed to ensuring that our products and services align with the evolving demands of the global marketplace.
            <br><br>
            Our success is driven by a collective commitment to excellence and a proactive approach to staying abreast of industry trends. We take pride in our ability to innovate continually, offering solutions that not only meet but exceed the expectations of our clientele. This adaptability positions us as a reliable and forward-thinking partner for businesses seeking high-quality products and services.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="px-xl-5 px-md-3 px-lg-3 px-xs-2 pt-5" style="margin-bottom: 3rem">
  <div class="mb-16 row align-items-center">
    <div class="col-xl-4 col-lg-4 order-0 order-lg-2">
      <div class="">
        <div>
          <img src="/assets/lubri.png" alt="" class="w-100 object-fit-cover rounded-lg wow fadeInRight"
               style="visibility: visible; animation-delay: 0.4s;">
        </div>
        <!--        <div>-->
        <!--          <img src="/assets/abt-us-2.png" alt="" class="w-100 object-fit-cover rounded-lg wow fadeInRight"-->
        <!--               style="visibility: visible; animation-delay: 0.4s;">-->
        <!--        </div>-->
        <!--        <div class="about-experiences-wrap">-->
        <!--          <div class="experiences-item">-->
        <!--            <div class="icon"><img src="/assets/img/icon/about_icon01.svg" alt=""></div>-->
        <!--            <div class="content"><h6 class="title">We have more than 10 years of experiences</h6></div>-->
        <!--          </div>-->
        <!--          <div class="experiences-item">-->
        <!--            <div class="icon"><img src="/assets/img/icon/about_icon02.svg" alt=""></div>-->
        <!--            <div class="content"><h6 class="title">We use professional and experienced person</h6></div>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>
    </div>
    <div class="col-xl-8 col-lg-8 pe-xl-5">
      <div class="about-content">
        <div class="section-title tg-heading-subheading animation-style3">
          <span class="text-xl text-gray-600 sub-title tg-element-title">Ibluechem Group</span>
          <div class="text-3xl leading-normal title uppercase">What we do
          </div>
        </div>
        <div class="text-base d-flex align-items-center my-8 row">
            <p>
              In addition to offering a comprehensive range of high-quality products, we at IBluechem Group India are dedicated to fostering robust customer relationships with both our suppliers and customers. Our approach is centered around actively assisting you in solving challenges, comprehending your objectives, anticipating your requirements, and aligning our resources with yours.
              <br> <br>
              We understand that our success is intertwined with the success of our partners, and that's why we prioritize building strong, mutually beneficial relationships. By actively engaging with our customers and suppliers, we aim to not only meet but exceed expectations. Our commitment extends beyond simply providing products – we strive to understand the unique challenges you face, tailor solutions to your specific needs, and offer support that goes beyond transactional interactions.
            </p>
        </div>
        <div class="about-list">
          <ul class="list-wrap">
            <li><i class="fas fa-check"></i>Prompt delivery directly to your location.</li>
            <li><i class="fas fa-check"></i>Guidance for efficient, profitable product choices.</li>
            <li><i class="fas fa-check"></i>Warehousing for efficient product storage.</li>
            <li><i class="fas fa-check"></i>Maintain customer specific inventory levels.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="px-xl-5 px-md-3 px-lg-3 px-xs-2 pt-5" style="margin-bottom: 3rem">
  <div class="mb-16 row align-items-center">
    <div class="col-xl-4 col-lg-4 order-0">
      <div>
        <img src="/assets/partnership.png" alt="" class="w-100 object-fit-cover rounded-lg wow fadeInRight"
             style="visibility: visible; animation-delay: 0.4s;">
      </div>
    </div>
    <div class="col-xl-8 col-lg-8 px-5">
      <div class="about-content">
        <div class="section-title tg-heading-subheading animation-style3">
          <span class="text-xl text-gray-600 sub-title tg-element-title">Our Partners</span>
          <div class="text-3xl leading-normal title uppercase">What we believe
          </div>
        </div>
        <div class="my-8 text-base d-flex align-items-center">
          <p>
            At IBluechem Group India, our dedication revolves around trust, service, and unwavering support for our partners and customers. Our primary objective is to deliver Best-In-Class services and support to meet the demands of this competitive market. Serving as the exclusive supplier and distributor of the URO ONE® Product in India, IBLUECHEM GROUP INDIA is headquartered in Chatrapati Sambhajinagar, Maharashtra, India, and stands out as an innovation leader in industrial lubricants, driven by long-term vision and proactive measures.
            <br><br>
            Established in 2014, IBLUECHEM GROUP INDIA is an independent and successful, owner-managed company originating from India, boasting international subsidiaries and distributors. Renowned globally, the URO ONE® brand is recognized as one of the strongest names for special lubricants and fuel additives across various applications and industries. As a premium partner to the industry, we specialize in understanding our customers' fluid management needs, earning their trust in URO ONE® as a highly innovative and reliable specialist with extensive expertise in coolants and industrial greases.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="px-xl-5 px-md-3 px-lg-3 px-xs-2 pt-4 pb-3 mb-5 position-relative">
  <h1 class="mb-2 section-title text-center theme-color text-uppercase">TESTIMONIALS</h1>
  <ngx-slick-carousel class="carousel position-relative"
                      #slickModal="slick-carousel"
                      [config]="testimonialConfig">
    <div ngxSlickItem *ngFor="let slide of testimonials" class="position-relative slide">
      <div class="shadow-sm p-4 bg-white m-3 border rounded">
        <div class="text-base mb-3 uppercase">Awesome Design</div>
        <div class="text-gray-500 mb-3">Without JobHunt i’d be homeless, they found me a job and got me sorted out
          quickly with everything! Can’t quite… The Mitech team works really hard to ensure high level of quality
        </div>
        <div class="mt-4 d-flex gap-2 align-items-center">
          <div class="d-flex align-items-center">
            <img style="max-width: 45px" src="assets/icons/profile.png" alt="">
          </div>
          <div class="d-flex flex-column">
            <div class="text-base">Ashley Jenkins</div>
            <div class="text-gray-500">Designer</div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick-carousel>
</div>


