.footer {
  background-color: #F1E9E9;
  color: #222222;
}

.uro-logo {
  img {
    mix-blend-mode: multiply;
    width: 100px;
  }
}

.footer-mobile {
  max-width: 100%;
  padding-top: 0.625rem;
  padding-bottom: 1rem;
  z-index: 1000;
  opacity: 0;
  bottom: -6.25rem;
  transition: all .32s;
}

.footer-mobile .flaticon {
  font-size: 1.125rem;
}

.footer-mobile .cart-amount,
.footer-mobile .wishlist-amount {
  top: -5px;
  left: calc(100% - 5px);
  width: 1rem;
  height: 1rem;
  border-radius: 100%;
  background: #b9a16b;
  color: #ffffff;
  font-size: 0.625rem;
  line-height: 1rem;
  text-align: center;
}

.footer-mobile.position-fixed {
  opacity: 1;
}

.footer-mobile.footer-mobile_initialized {
  bottom: 0;
  transition: all .32s;
}

.footer-mobile__link {
  font-size: 0.8125rem;
}
