<nav *ngIf="showHeader" class="nc-Header sticky top-0 w-full left-0 right-0 z-40 nc-header-bg shadow-sm app-header-nav full-width shadow-class navbar nav-background sticky-top
navbar-expand-md navbar-light bg-light">
  <div #home class="px-8 2xl:px-24 xl:px-16 lg:px-16 md:px-12 sm:px-11 landing-nav container-fluid">
    <div class="d-flex align-items-center gap-3">
      <div *ngIf="sharedService.showBackIcon | async" (click)="backClicked()" class="header-back">
        <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
          <i class="fa fa-chevron-left"></i>
        </button>
      </div>
      <a class="navbar-brand d-flex align-items-center justify-content-center" href="#">
        <img width="50" [src]="sharedService?.companyLogoTransperant" alt="Company Logo" class="logo-image">
      </a>
    </div>
    <div class="low-767">
      <div class="ml-auto d-flex align-items-center justify-content-end">
        <button class="setting-icon-mobile" [matMenuTriggerFor]="drawerMenu" mat-mini-fab
                aria-label="Example icon button with a filter list icon">
          <img style="width: 30px" src="assets/icons/trendy-nav.png" alt="">
        </button>
      </div>
<!--      <div *ngIf="isAuthenticated" class="ml-4 cursor-pointer user-icon-container">-->
<!--        <div [matMenuTriggerFor]="userMenu" #menuTrigger class="user-menu">-->
<!--          <div class="user-icon">-->
<!--            <button mat-mini-fab class="mat-button-icon-btn"-->
<!--                    aria-label="Example icon button with a plus one icon">-->
<!--              <mat-icon>account_circle</mat-icon>-->
<!--            </button>-->
<!--          </div>-->
<!--&lt;!&ndash;          <div class="user-name-box"><b>{{apiService?.userName | titlecase}}</b></div>&ndash;&gt;-->
<!--        </div>-->
<!--        <mat-menu #userMenu="matMenu">-->
<!--          <ng-template matMenuContent let-id="id">-->
<!--            <button mat-menu-item-->
<!--                    (click)="onAdminPanel()">Admin Panel-->
<!--              <mat-icon color="primary">home</mat-icon>-->
<!--            </button>-->
<!--            <button mat-menu-item-->
<!--                    (click)="togglePopup()">Log Out-->
<!--              <mat-icon color="primary">logout</mat-icon>-->
<!--            </button>-->
<!--          </ng-template>-->
<!--        </mat-menu>-->
<!--      </div>-->
    </div>
    <button class="d-none navbar-toggler d-flex" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="high-767 d-flex navbar-collapse menu-bar justify-content-between" id="navbarSupportedContent">
      <div  class="d-flex w-100 ml-auto">
        <ul class="navbar-nav">
          <li [routerLink]="['/home']" [routerLinkActive]="'active'" class="nav-item nav-menu">
            <div class="cursor-pointer nav-link text-sm navigation__link" aria-current="page">Home</div>
          </li>
          <li [routerLink]="['/shop-list']" [routerLinkActive]="'active'" class="nav-item nav-menu ">
            <div class="cursor-pointer nav-link text-sm navigation__link">
              <div class="d-flex gap-1 justify-content-center align-items-center">
                <span>Products </span>
              </div>
            </div>

          </li>
          <li [routerLink]="['/services']" [routerLinkActive]="'active'" class="nav-item nav-menu ">
            <div class="cursor-pointer nav-link text-sm navigation__link">Services</div>
          </li>
          <li [routerLink]="['/about-us']" [routerLinkActive]="'active'" class="nav-item nav-menu">
            <div class="cursor-pointer nav-link text-sm navigation__link">About Us</div>
          </li>
          <li [routerLink]="['/contact-us']" [routerLinkActive]="'active'" class="nav-item nav-menu">
            <div class="cursor-pointer nav-link text-sm navigation__link" >Contact Us</div>
          </li>
        </ul>
      </div>
      <div *ngIf="!isAuthenticated" class="cart ml-auto d-flex align-items-center justify-content-end">
        <div class="d-flex gap-4">
          <div>
            <mat-icon (click)="showCart()" class="cursor-pointer">shopping_cart</mat-icon>
          </div>
          <div>
            <mat-icon [matMenuTriggerFor]="loginMenu" class="cursor-pointer">settings</mat-icon>
            <mat-menu #loginMenu="matMenu">
              <ng-template matMenuContent let-id="id">
                <button mat-menu-item [routerLink]="['/login']">
                  <i class="fa fa-user-circle text-base mr-3"></i> Log In
                </button>
              </ng-template>
            </mat-menu>
          </div>
        </div>
      </div>
      <div *ngIf="isAuthenticated" class="cursor-pointer d-flex justify-content-end">
        <div [matMenuTriggerFor]="userMenu" #menuTrigger class="d-flex justify-content-center gap-3 align-items-center">
          <div class="user-icon">
            <button mat-mini-fab class="mat-button-icon-btn m-r-1"
                    aria-label="Example icon button with a plus one icon">
              <mat-icon>account_circle</mat-icon>
            </button>
          </div>
          <div class="user-name-box"><b>{{apiService?.userName | titlecase}}</b></div>
        </div>
        <mat-menu #userMenu="matMenu">
          <ng-template matMenuContent let-id="id">
            <button mat-menu-item
                    (click)="onAdminPanel()">Admin Panel
              <mat-icon color="primary">home</mat-icon>
            </button>
            <button mat-menu-item
                    (click)="togglePopup()">Log Out
              <mat-icon color="primary">logout</mat-icon>
            </button>
          </ng-template>
        </mat-menu>

      </div>
    </div>
  </div>
</nav>

<mat-menu #drawerMenu="matMenu">
  <button [routerLink]="'/login'" mat-menu-item>
    <i class="fa fa-user-circle text-base mr-3"></i>
    {{!isAuthenticated ? 'Log In' : apiService?.userName | titlecase}}
  </button>
  <button [routerLink]="'/dashboard'" mat-menu-item>
    <i class="fa fa-bars text-base mr-3"></i> Dashboard
  </button>
  <button [routerLink]="'/services'" mat-menu-item>
    <i class="fa fa-concierge-bell text-base mr-3"></i> Services
  </button>
  <button [routerLink]="'/contact-us'" mat-menu-item>
    <i class="fa fa-envelope text-base mr-3"></i> Contact Us
  </button>
  <button [routerLink]="'/about-us'" mat-menu-item>
    <i class="fa fa-building text-base mr-3"></i> About Us
  </button>
  <button [routerLink]="'/about-us'" mat-menu-item>
    <i class="fa fa-sign-out-alt text-base mr-3"></i> Log out
  </button>
</mat-menu>


