
.categories-nav__list {
  padding: 1.25rem 1.8rem;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
}

@media (min-width: 1500px) {
  .categories-nav__list {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

.categories-nav__item {
  margin-bottom: 1rem;
  font-weight: 500;
  line-height: 2em;
  text-decoration: none;
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
  color: #222222;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0.2rem;
    width: 0;
    height: 2px;
    transition: width 0.28s cubic-bezier(0.47, 0, 0.745, 0.715);
    background-color: currentColor;
  }

  &:hover:after {
    width: 3em;
  }
}

.text_dash {
  position: relative;
  padding-left: 3.25rem;
}

.text_dash::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 2.5rem;
  height: 2px;
  margin-top: -1px;
  background-color: currentColor;
  color: inherit;
}

.banner-text-6xl {
  font-size: 40px !important;
}

.banner-text-3xl {
  font-size: 20px !important;
}

.product-card_style9 .pc__title {
  font-size: 0.9375rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card_style9 {
  transition: all 0.2s ease;
  border: 1px solid transparent;
  border-radius: 0.25rem;
}

.product-card_style9 .pc__info {
  margin: 0.875rem .5rem .625rem;
}

@media (min-width: 768px) {
  .product-card_style9 .pc__info {
    margin: 0.875rem 1.25rem 0.8125rem;
  }
}

.product-card_style9 .pc__title {
  font-size: 0.9375rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-card_style9 .reviews-note {
  font-size: 0.8125rem;
}

.product-card_style9 .product-card__price {
  color: #86bc42;
}

.product-card_style9:hover {
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}

.product-card_style9:hover .anim_appear-bottom {
  bottom: 0;
}

.product-card_style9 .js-add-wishlist,
.product-card_style9 .js-add-cart,
.product-card_style9 .js-quick-view {
  background-color: #f3e8d6;
  color: #072a75;
}

.product-card_style9 .js-add-wishlist:hover,
.product-card_style9 .js-add-cart:hover,
.product-card_style9 .js-quick-view:hover {
  background-color: #084DE5;
  color: #fff;
}

.product-card_style9.type2 {
  border: 0;
  border-radius: 0;
}

@media (min-width: 768px) {
  .btn-round {
    width: 2.5rem;
    height: 2.5rem;
  }
}

.anim_appear-bottom {
  bottom: -0.625rem;
  transition: all 0.2s ease;
  font-size: 0.875rem;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  i {
    font-size: 12px !important;
  }
}

.product-card:hover .anim_appear-bottom {
  bottom: 0.625rem;
  opacity: 1;
  visibility: visible;
}
