<app-header></app-header>
<!--<div style="background: #3f51b50d" class="px-5 pt-4">-->
<div class="d-flex flex-column">
  <div class="px-xl-5 px-md-3 px-lg-3 px-xs-2 pt-4">
    <!--  <div class="nc-BgGlassmorphism absolute inset-x-0 md:top-10 left-2.5 xl:top-40 min-h-0 pl-20 py-24 flex overflow-hidden z-0" data-nc-id="BgGlassmorphism"><span class="block bg-[#ef233c] w-72 h-72 rounded-full mix-blend-multiply filter blur-3xl opacity-10 lg:w-96 lg:h-96"></span><span class="block bg-[#04868b] w-72 h-72 -ml-20 mt-40 rounded-full mix-blend-multiply filter blur-3xl opacity-10 lg:w-96 lg:h-96 nc-animation-delay-2000"></span></div>-->
    <div class="row mt-2">
      <div class="col-md-12 col-lg-3 order-lg--1 mb-4">
        <ul class="shadow-sm bg-white list-disc categories-nav__list mb-0 h-100 border-gray-500 border-radius-10 py-xl-4">
          <li (click)="onSelectCategory(bullet)" *ngFor="let bullet of bullets" class="categories-nav__item uppercase cursor-pointer"><a>{{bullet.name}}</a></li>
        </ul>
      </div>
      <div class="col-lg-6 slideshow-boxed-right mb-4">
        <!--      <div class="position-relative h-100 slideshow swiper-container js-swiper-slider w-100 bg-white mx-0 mt-0 swiper-container-fade swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">-->
        <!--        <div class="position-relative rounded-lg flex h-100 justify-center items-center flex-col">-->

        <!--          <div class="w-full h-100 bg-[url('assets/grad_banner.png')] rounded-lg bg-cover bg-center">-->
        <!--            <div class="w-full h-full flex min-h-screen justify-center items-center rounded-lg backdrop-brightness-50">-->
        <!--              <div-->
        <!--                class="w-9/12 slideshow-text full-width_padding position-absolute start-50 top-50 translate-middle pb-4 pb-xl-5">-->
        <!--                <p-->
        <!--                  class="text_dash text-uppercase fs-base fw-medium animate animate_fade animate_btt animate_delay-3 text-white mb-2">-->
        <!--                  URO ONE</p>-->
        <!--                <h2-->
        <!--                  class="banner-text-6xl fs-45 animate animate_fade animate_btt animate_delay-5 mb-2 text-white text-uppercase lh-1 text-6xl mb-3">-->
        <!--                  High Performance</h2>-->
        <!--                <h2 style="line-height: 2.5rem"-->
        <!--                    class="banner-text-3xl fs-45 animate animate_fade animate_btt animate_delay-5 mb-4 opacity-60 text-white text-uppercase">-->
        <!--                  Lubricants, Metal working fluids, Greases, Additives, Fuel Oil Additive and Base Oils</h2>-->
        <!--                <div class="animate animate_fade animate_btt animate_delay-7">-->
        <!--                  <a href="./shop1.html"-->
        <!--                     class="theme-btn btn btn-primary border-0 fw-semi-bold text-uppercase theme-bg-color-secondary border-radius-10 btn-50 fs-base text-white text-primary">Shop-->
        <!--                    Now</a>-->
        <!--                </div>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
        <!--      </div>-->
        <div class="position-relative">
          <ngx-slick-carousel class="carousel"
                              #slickModal="slick-carousel"
                              [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides" class="position-relative slide">
              <img class="rounded w-100 h-100 object-fit-cover" src="{{ slide.img }}" alt="" width="100%">
              <div
                class="w-9/12 slideshow-text full-width_padding position-absolute start-50 top-50 translate-middle pb-4 pb-xl-5">
                <p
                  class=" position-relative text_dash text-uppercase fs-base fw-medium animate__animated animate_fade animate_btt animate_delay-3 text-white mb-2">
                  URO ONE <span style="top: -8px" class="p-1 position-absolute" >®</span>
                </p>
                <h2 class="banner-text-6xl fs-45 animate__animated animate_fade animate_btt animate_delay-5 mb-2 text-white text-uppercase lh-1 text-6xl mb-3">
                  {{slide?.title}}
                </h2>
                <h2 style="line-height: 2.5rem"
                    class="banner-text-3xl fs-45 animate__animated animate_fade animate_btt animate_delay-5 mb-4 opacity-60 text-white text-uppercase">
                  <!--                {{slide?.subTitle}}-->
                </h2>
                <div class="animate__animated animate_fade animate_btt animate_delay-7">
                  <a href="./shop1.html"
                     class="theme-btn btn btn-primary border-0 fw-semi-bold text-uppercase theme-bg-color-secondary border-radius-10 btn-50 fs-base text-white text-primary">Shop
                    Now</a>
                </div>
              </div>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex flex-column mb-4">
        <div
          class="rounded-lg position-relative collection-grid__item position-relative flex-grow-1 mb-4 border-radius-10">
          <img class="h-100 w-100 object-fit-cover rounded-lg" src="assets/grease-pink.png" alt="">
          <div
            class="w-9/12 slideshow-text full-width_padding position-absolute start-50 top-40 translate-middle pb-4 pb-xl-5">
            <h3 class="banner-text-3xl font-bold text-uppercase fs-20 fw-semi-bold">Lubricants<br>and Greeses</h3>
            <a href="./shop1.html" class="btn-link default-underline text-uppercase fw-semi-bold fs-13">Shop Now</a>
          </div>
        </div>
        <div class="collection-grid__item position-relative flex-grow-1 mt-lg-1 mb-0 border-radius-10 ">
          <img class="h-100 w-100 object-fit-cover rounded" src="assets/oils.png" alt="">
        </div>
      </div>
    </div>
    <div class="row row-cols-lg-4">
      <div class="align-items-center py-5 d-flex gap-3">
        <div class="">
          <img style="width: 65px" src="assets/icons/trolley.png" alt="">
        </div>
        <div class="pe-2 d-flex flex-column">
          <div class="text-base uppercase">FAST DELIVERY</div>
          <div class="text-gray-500 text-sm leading-snug">Delivery for all orders with tracking Id provided</div>
        </div>
      </div>
      <div class="align-items-center py-5 d-flex gap-3">
        <div class="">
          <img style="width: 65px" src="assets/icons/call-center.png" alt="">
        </div>
        <div class="pe-2 d-flex flex-column">
          <div class="text-base uppercase">Technical Support</div>
          <div class="text-gray-500 text-sm leading-snug">Accessible 24/7 customer support for lubricant queries.</div>
        </div>
      </div>
      <div class="align-items-center py-5 d-flex gap-3">
        <div class="">
          <img style="width: 65px" src="assets/icons/practice.png" alt="">
        </div>
        <div class="pe-2 d-flex flex-column">
          <div class="text-base uppercase">Product Training</div>
          <div class="text-gray-500 text-sm leading-snug">Comprehensive training for optimal product knowledge.</div>
        </div>
      </div>
      <div class="align-items-center py-5 d-flex gap-3">
        <div class="">
          <img style="width: 65px" src="assets/icons/warehouse.png" alt="">
        </div>
        <div class="pe-2 d-flex flex-column">
          <div class="text-base uppercase">Product warehouse</div>
          <div class="text-gray-500 text-sm leading-snug">Efficient product warehouse services for seamless operations.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div appShowOnView style="background: #F1E9E9" class="opacity-0 px-xl-5 px-md-3 px-lg-3 px-xs-2 pt-4">
    <div class="my-16 position-relative">
      <!--      <div class="nc-BgGlassmorphism absolute inset-x-0 md:top-10 left-2.5 xl:top-40 min-h-0 pl-20 py-24 flex overflow-hidden z-0" data-nc-id="BgGlassmorphism"><span class="block bg-[#ef233c] w-72 h-72 rounded-full mix-blend-multiply filter blur-3xl opacity-10 lg:w-96 lg:h-96"></span><span class="block bg-[#04868b] w-72 h-72 -ml-20 mt-40 rounded-full mix-blend-multiply filter blur-3xl opacity-10 lg:w-96 lg:h-96 nc-animation-delay-2000"></span></div>-->
      <div class="d-flex align-items-center justify-content-md-between flex-wrap mb-3 mb-xl-4">
        <h1 class="section-title theme-color text-uppercase">Our Products</h1>

        <ul class="border-none nav nav-tabs justify-content-center" id="collections-tab" role="tablist">
          <li class="nav-item cursor-pointer" role="presentation">
            <div class="nav-link nav-link_underscore underscore-md text-uppercase theme-color fs-13 fw-semi-bold active"
                 id="collections-tab-1-trigger" data-bs-toggle="tab" href="#collections-tab-1" role="tab"
                 aria-controls="collections-tab-1" aria-selected="true">New Arrivals
            </div>
          </li>
          <li class="nav-item cursor-pointer" role="presentation">
            <div class="nav-link nav-link_underscore underscore-md text-uppercase fs-13 fw-semi-bold theme-color"
                 id="collections-tab-2-trigger" data-bs-toggle="tab" href="#collections-tab-2" role="tab"
                 aria-controls="collections-tab-2" aria-selected="true">Bestsellers
            </div>
          </li>
          <li class="nav-item cursor-pointer" role="presentation">
            <div class="nav-link nav-link_underscore underscore-md text-uppercase fs-13 fw-semi-bold theme-color"
                 id="collections-tab-3-trigger" data-bs-toggle="tab" href="#collections-tab-3" role="tab"
                 aria-controls="collections-tab-3" aria-selected="true">Most Views
            </div>
          </li>
        </ul>
      </div>
      <div class="tab-pane fade show active" id="collections-tab-1" role="tabpanel"
           aria-labelledby="collections-tab-1-trigger">
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-5">
          <ng-container *ngFor="let product of products; let index = index">
            <div appShowOnView [delay]="index * 100"  class="opacity-0 product-card-wrapper cursor-pointer mb-2">
              <div class="product-card product-card_style9 border rounded-3 mb-3 mb-md-4 bg-white">
                <div class="position-relative pb-4 p-2">
                  <div class="">
                    <img class="w-100 object-fit-cover" loading="lazy" [src]="product.img" width="255" height="200"
                         alt="Cropped Faux leather Jacket">
                  </div>
                  <div class="anim_appear-bottom position-absolute w-100 text-center">
                    <button (click)="toggleCart()"
                            class="rounded-full d-flex align-items-center justify-content-center btn btn-round btn-hover-red border-0 text-uppercase me-2 js-add-cart js-open-aside d-inline-flex align-items-center justify-content-center"
                            data-aside="cartDrawer" title="Add To Cart">
                      <i class="fa fa-shopping-cart"></i>
                      <!--                  <img style="width: 16px" src="assets/icons/shopping-cart.png" alt="">-->
                    </button>
                    <button [routerLink]="['/shop-details']"
                            class="rounded-full d-flex align-items-center justify-content-center btn btn-round btn-hover-red border-0 text-uppercase me-2 js-quick-view d-inline-flex align-items-center justify-content-center"
                            data-bs-toggle="modal" data-bs-target="#quickView" title="Quick view">
                      <i class="fa fa-eye"></i>
                      <!--                  <img style="width: 16px" src="assets/icons/view.png" alt="">-->
                    </button>
                    <!--                <button-->
                    <!--                  class="rounded-full d-flex align-items-center justify-content-center btn btn-round btn-hover-red border-0 text-uppercase js-add-wishlist d-inline-flex align-items-center justify-content-center"-->
                    <!--                  title="Add To Wishlist">-->
                    <!--                  <i class="fa fa-heart"></i>-->
                    <!--                  &lt;!&ndash;                  <img style="width: 16px" src="assets/icons/heart.png" alt="">&ndash;&gt;-->
                    <!--                </button>-->
                  </div>
                </div>
                <div class="pc__info position-relative">
                  <p class="pc__category text-sm fs-13 fw-medium">{{product?.cat}}</p>
                  <h6 class="pc__title fs-16 mb-2"><a href="./product1_simple.html">{{product?.name}}</a></h6>
                  <div class="product-card__review d-sm-flex align-items-center">
                    <div class="reviews-group d-flex">
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <i class="fa fa-star"></i>
                    </div>
                    <span class="reviews-note text-lowercase text-secondary fs-13 ms-sm-1">{{product?.ratings}}</span>
                  </div>
                  <div class="my-2 text-gray-500">
                    Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything!
                    Can’t quite.
                  </div>
                  <div class="d-flex mt-4 gap-1 align-items-center">
                    <span class="product-card__price price fs-16 fw-semi-bold">{{product?.price}}</span> <span
                    class="text-gray-400">/ 400 ml</span>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>

  <div appShowOnView class="opacity-0 px-xl-5 px-md-3 px-lg-3 px-xs-2 pt-4" style="margin-bottom: 3rem">
    <div class="mb-16 row align-items-center">
      <div class="col-xl-4 col-lg-4 order-0 order-lg-2">
        <div class="">
          <div>
            <img src="/assets/abt-us-3.png" alt="" class="w-100 object-fit-cover rounded-lg wow fadeInRight"
                 style="visibility: visible; animation-delay: 0.4s;">
          </div>
          <!--        <div>-->
          <!--          <img src="/assets/abt-us-2.png" alt="" class="w-100 object-fit-cover rounded-lg wow fadeInRight"-->
          <!--               style="visibility: visible; animation-delay: 0.4s;">-->
          <!--        </div>-->
          <!--        <div class="about-experiences-wrap">-->
          <!--          <div class="experiences-item">-->
          <!--            <div class="icon"><img src="/assets/img/icon/about_icon01.svg" alt=""></div>-->
          <!--            <div class="content"><h6 class="title">We have more than 10 years of experiences</h6></div>-->
          <!--          </div>-->
          <!--          <div class="experiences-item">-->
          <!--            <div class="icon"><img src="/assets/img/icon/about_icon02.svg" alt=""></div>-->
          <!--            <div class="content"><h6 class="title">We use professional and experienced person</h6></div>-->
          <!--          </div>-->
          <!--        </div>-->
        </div>
      </div>
      <div class="col-xl-8 col-lg-8">
        <div class="about-content">
          <div class="section-title mb-25 tg-heading-subheading animation-style3"><span
            class="text-xl text-gray-600 sub-title tg-element-title">About Our Company</span>
            <div class="text-3xl leading-normal title tg-element-title uppercase">We’re Committed to Trusted, Reliable
              Service.
            </div>
          </div>
          <div class="text-base d-flex align-items-center my-12 row">
            <div class="col-12 col-xl-3 col-lg-4">
              <img src="assets/company-logo/ibgi_transperant.png" alt="">
            </div>
            <div class="col-12 col-xl-9 col-lg-8 px-4">
              <p>
                iBluechem Group India serves as a supplier and distributor of top-tier Industrial, Automotive, Marine, and
                Food Grade Lubricants, Metalworking Fluids, Deformation fluids, Industrial Cleaners, Rust Preventives,
                Greases, Lubricants & Metalworking Additives, Fuel Additive Packages, and Base Oils. As a privately held
                company based in Maharashtra, India, we are led by a team of seasoned, highly technical professionals
                dedicated to navigating global market trends. Our mission is to meet the diverse needs of our valued
                customers both domestically and internationally.
              </p>
            </div>
          </div>
          <div class="about-list">
            <ul class="list-wrap">
              <li appShowOnView [delay]="100" class="opacity-0"><i class="fas fa-check"></i>Prompt delivery directly to your location.</li>
              <li appShowOnView [delay]="200" class="opacity-0"><i class="fas fa-check"></i>Guidance for efficient, profitable product choices.</li>
              <li appShowOnView [delay]="300" class="opacity-0"><i class="fas fa-check"></i>Warehousing for efficient product storage.</li>
              <li appShowOnView [delay]="400" class="opacity-0"><i class="fas fa-check"></i>Maintain customer specific inventory levels.</li>
            </ul>
          </div>
          <a href="./shop1.html"
             class="theme-btn btn btn-primary border-0 fw-semi-bold text-uppercase theme-bg-color-secondary border-radius-10 btn-50 fs-base text-white text-primary">
            Know More</a>
        </div>
      </div>
    </div>
  </div>

  <div style="background: #F1E9E9" class="px-xl-5 px-md-3 px-lg-3 px-xs-2 pt-4 pb-3 mb-5 position-relative">
    <h1 class="mb-4 section-title text-center theme-color text-uppercase">TESTIMONIALS</h1>
    <ngx-slick-carousel class="carousel position-relative"
                        #slickModal="slick-carousel"
                        [config]="testimonialConfig">
      <div ngxSlickItem *ngFor="let slide of testimonials" class="position-relative slide">
        <div class="shadow-sm p-4 bg-white m-3 border rounded">
          <div class="text-base mb-3 uppercase">Awesome Design</div>
          <div class="text-gray-500 mb-3">Without JobHunt i’d be homeless, they found me a job and got me sorted out
            quickly with everything! Can’t quite… The Mitech team works really hard to ensure high level of quality
          </div>
          <div class="mt-4 d-flex gap-2 align-items-center">
            <div class="d-flex align-items-center">
              <img style="max-width: 45px" src="assets/icons/profile.png" alt="">
            </div>
            <div class="d-flex flex-column">
              <div class="text-base">Ashley Jenkins</div>
              <div class="text-gray-500">Designer</div>
            </div>
          </div>
        </div>
      </div>
    </ngx-slick-carousel>
  </div>

  <div class="px-xl-5 px-md-3 px-lg-3 px-xs-2 pt-4">
    <div class="mb-16 row">
      <div appShowOnView [delay]="100" class="opacity-0 col-lg-4">
        <div class="position-relative overflow-hidden border-radius-10">
          <img loading="lazy" src="assets/banners/banner.png" width="448" height="235" alt="">
          <div class="position-absolute top-10 content_center text-left container w-100 px-4 mx-3">
            <h3 class="text-uppercase fs-20 fw-semi-bold text-white">NEW ARRIVALS<br>BRAKE FLUIDS</h3>
            <a href="./shop1.html" class="btn-link default-underline text-uppercase fw-semi-bold text-white fs-13">Shop
              Now</a>
          </div>
        </div>
      </div>
      <div appShowOnView [delay]="200" class="opacity-0 col-lg-4">
        <div class="position-relative overflow-hidden border-radius-10">
          <img loading="lazy" src="assets/banners/banner-2.png" width="448" height="235" alt="">
          <div class="position-absolute top-10 content_center text-left container w-100 px-4 mx-3">
            <h3 class="text-uppercase fs-20 fw-semi-bold text-white">NEW ARRIVALS<br>CLEANERS</h3>
            <a href="./shop1.html" class="btn-link default-underline text-uppercase fw-semi-bold text-white fs-13">Shop
              Now</a>
          </div>
        </div>
      </div>
      <div appShowOnView [delay]="300" class="opacity-0 col-lg-4">
        <div class="position-relative overflow-hidden border-radius-10">
          <img loading="lazy" src="assets/banners/banner-3.png" width="448" height="235" alt="">
          <div class="position-absolute top-10 content_center text-left container w-100 px-4 mx-3">
            <h3 class="text-uppercase fs-20 fw-semi-bold text-white">NEW ARRIVALS<br>GREASE</h3>
            <a href="./shop1.html" class="btn-link default-underline text-uppercase fw-semi-bold text-white fs-13">Shop
              Now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
